
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


/*---Header Content----------*/

   header {
     background-image: url(../images/abstract-background-pic.jpg);
     background-size: auto;
     background-attachment: fixed;
     /* background-size: cover; 
     background-repeat: no-repeat;*/
     background-position: center;
     position: fixed;
     z-index: 1;
     height: 100px;
     font-family: 'Fredericka the Great', 'cursive' ; 
     color: #a326bc; 
    
  }

  #nav-links .active {
    background-color: #a326bc;
  
  }

  #nav-links .active:hover {
    color: blue;
    
  }

  .active-page {
    border: 1.5px solid blue;
  }
  img {
    position: inherit;
    top: 1%;
    opacity: 0.5;
    
  }

  .nav {
   position: relative; 
   top: 2px;

  }

  

/*------Mobile Nav-Menu Button "code template from w3schools.com website" ------*/

.dropbtn {
    background-color:  #a326bc;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#a326bc;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #5c0c6c;
  }
/*------Mobile Nav-Menu Button "code template from w3schools.com website" ------*/



/*-----------------Main content---*/
 

   body {
    background-image: url(../images/abstract-background-pic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
  }

  article {
    color:  #5c0c6c;
    padding-top: 200px;
    font-family: 'GFS Didot', serif ;
    font-size: 20px;
  }

  #who-we-are {
    height: 32rem;
    width: 27rem;
    background-image: url(../images/studio-background.jpg);
    background-size: cover;
    position: relative ;
    border-radius: 20%;
    z-index: 0;
}


#worship {
    height: 20rem;
    width: 27rem;
    background-image: url(../images/studio-background.jpg);
    background-size: cover;
    position: relative;
   
    border-radius: 30%;
    z-index: 0;
    
}

#therapy {
    height: 20rem;
    width: 27rem;
    background-image: url(../images/studio-background.jpg);
    background-size: cover;
    position: relative;
    border-radius: 30%;
    z-index: 0;
    
}

#blog {
    height: auto;
    width: auto;
    background-image: url(../images/studio-background.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    padding: 4rem;
    padding-bottom: 6rem;
    font-weight: 500;
    background-attachment: fixed;
    background-size: cover; 
   
    background-position: center;
   
}

#conferences {
    height: auto;
    width: auto;
    background-image: url(../images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 30%;
    z-index: 0;
    background-position: center;
}


#founder-box , #centre-box {
    height: auto;
    width: auto;
    background-image: url(../images/studio-background.jpg);
    background-size: cover; 
    position: relative ;
    border-radius: 20%;
    z-index: 0;
    font-weight: 500;
    padding: 2rem;
}

.locations {
    height: 25rem;
    width: 27rem;
    background-image: url(../images/studio-background.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    
}

.get-in-touch {

    height: 20rem;
    width: 27rem;
    background-image: url(../images/studio-background.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    
}

.animation {
    height: 10rem;
    width: 27rem;
    top: 5rem;
    background-size: cover;
    position: relative;
    border-radius: 40%;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', 'cursive' ;
    color:  #5c0c6c; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fontWeight {
    font-weight: bolder;
}

/*----------Footer content---*/


#footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(../images/water-color.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    text-align: center;
    height: 5%;
    padding-top: 3px;
}

 
.footer-box  { 
    font-size: medium;
    color:  #fff; 
    font-family: 'Fredericka the Great', 'cursive' ; 
}

i {
    font-size: medium;
    color: #fff;
}


