
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
 
   header {
     background-image: url(/assets/images/studio-background.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: fixed;
     z-index: 1;
     height: 150px;
     font-family: 'Fredericka the Great', 'cursive' ; 
     color: #a326bc; 
    
  }

  #nav-links .active {
    background-color: #a326bc;
  
  }

  #nav-links .active:hover {
    color: blue;
    
  }

  .active-page {
    border: 2px solid blue;
  }
  img {
    position: inherit;
    top: 2%;
    opacity: 0.5;
  }

  .nav {
   position: relative;
   top: 50px;
  }
/*-----------------Main content---*/
 

   body {
    background-image: url(/assets/images/abstract-background-pic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /*
    position: relative;
    */
   
  }

  article {
    color:  #5c0c6c;
    padding-top: 200px;
    font-family: 'GFS Didot', serif ;
    font-size: 20px;
  }


#worship {
    height: 25rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
   
    border-radius: 20%;
    z-index: 0;


    
}

#who-we-are {
    height: 25rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative ;
    border-radius: 20%;
    z-index: 0;
    

}

#blog {
    height: auto;
    width: auto;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    padding: 4rem;
    padding-bottom: 6rem;
    font-weight: 500;
    background-attachment: fixed;
    background-size: cover; 
   
    background-position: center;
   
}

#conferences {
    height: auto;
    width: auto;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 30%;
    z-index: 0;
    background-position: center;
}


#founder-box , #centre-box {
    height: auto;
    width: auto;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover; 
    position: relative ;
    border-radius: 20%;
    z-index: 0;
    font-weight: 500;
    padding: 2rem;
}

#therapy {
    height: 25rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    
}

.locations {
    height: 25rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    
}

.animation {
    height: 10rem;
    width: 27rem;
    top: 5rem;
    background-size: cover;
    position: relative;
    border-radius: 40%;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', 'cursive' ;
    color:  #5c0c6c; 
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



/*---------- content---*/


#footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(/assets/images/water-color.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    text-align: center;
    height: 10%;
    padding-top: 10px;
}

 
.footer-box  { 
    font-size: large;
    color:  #fff; 
    font-family: 'Fredericka the Great', 'cursive' ; 
}

i {
    font-size: x-large;
    color: #fff;
}






.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }