

   header {
    background-image: url(/assets/images/studio-background.jpg);
    color:  #5c0c6c;
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position: fixed;
     z-index: 1;
     height: 150px;

  }

  #nav-links .active {
    background-color: #a326bc;
    font-weight: bold;
    font-size: medium;
  
  }

  #nav-links .active:hover {
    color: blue;
  }

  img {
    position: inherit;
    top: 2%;
  }

  .nav {
   position: relative;
   top: 50px;
  }
/*-----------------Main content---*/
  article {
    color:  #5c0c6c;
    padding-top: 200px;
  }

   body {
    background-image: url(/assets/images/abstract-background-pic.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    /*
    position: relative;
    */
   
  }

#worship {
    height: 20rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
   
    border-radius: 20%;
    z-index: 0;


    
}

#who-we-are {
    height: 20rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative ;
    border-radius: 20%;
    z-index: 0;

}

#blog {
    height: auto;
    width: auto;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;

    background-attachment: fixed;
    background-size: cover;
   
    background-position: center;
   
}

#conferences {
    height: auto;
    width: auto;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#therapy {
    height: 20rem;
    width: 27rem;
    background-image: url(/assets/images/water-color.jpg);
    background-size: cover;
    position: relative;
    border-radius: 20%;
    z-index: 0;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.p-scroll {
    position: ;
    overflow: ;
    

}

/*---------- content---*/


#footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url(/assets/images/water-color.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
    text-align: center;
    height: 10%;
    padding-top: 10px;
}

 
.footer-box  {
    
    font-weight: bold;
    font-size: medium;
    color:   #5c0c6c;
    
}

i {
    font-size: x-large;
}